* {
  border: 0px solid;
}

#mainBody {
  display: flex;
  height: 94vh;
  background-color: rgba(0, 0, 0, 0.4);
}
#mainBody > div {
  height: 94vh;
}

#footer {
  height: 68px;
}

#sidePanel {
  width: 288px;
  background-color: rgb(40, 41, 40);
  border-radius: 0 20px 0 0;
  color: white;
}

#mainPanel {
  width: 1224px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 27px 65px 0 65px;
  font-family: "Poppins", sans-serif;
}

img {
  height: 94vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit:cover;
}

#cardsContainer {
  overflow: auto;
  height: 73.5vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 35px;
}

.logo > svg {
  width: 25px;
  height: 29px;
}

.logo > p {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.7);
}

input {
  width: 435px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
input::placeholder {
  padding-left: 15px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
button {
  width: 156px;
  height: 52px;
  background: linear-gradient(95.24deg, #7c0f35 7.59%, #581266 104.01%);
  border-radius: 20px;
  color: white;
}
button::content {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
}

#token {
  background: #f30050;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

#search {
  background: none;
  translate: -40px 4px;
  width: auto;
}
#search > svg {
  width: 18px;
  height: 18px;
}

h3 {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  padding-left: 20px;
color: white;
}

#footer{
  height: 6vh;
  background-color: rgba(243, 0, 80, 1);
  z-index: 3;
  width: 100%;
}


@media screen and (max-width:400px){
  #sidePanel{
    display: none;
  }
  input{
    width: 60vw;
  }
  button{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 83px;
    height: 27px;
  }
}